body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}
header {
    background-color: white;
    color: black;
    padding: 15px 0;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.menu {
    margin-left: auto;
    font-size: 14px;
}
.menu a {
    margin: 0 5px;
    text-decoration: none;
    color: black;
}
.sub-header {
    font-size: 24px;
    color: white;
    background-color: black;
    margin: 10px 0;
    padding: 10px;
}
.main-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}
.main-image {
    width: 800px; 
    height: 400px; 
    overflow: hidden;
    border-radius: 8px;
    background-color: black;
    position: relative;
    left: -100px; 
}
.text-content {
    max-width: 400px;
    margin-left: 10px; 
    text-align: left;
    color: #333;
}
.image-container {
    width: 250px; 
    height: 250px; 
    margin: 50px; 
    overflow: hidden;
    border-radius: 8px;
    background-color: black;
    display: inline-block;
}
.large-image-container {
    width: 300px;
    height: 250px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    background-color: black;
    display: inline-block;
    position: relative;
}
.rectangular-container {
    width: 200px;
    height: 100px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    background-color: black;
    display: inline-block;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
}
img:hover {
    transform: scale(1.05);
}
.button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}
.title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
.subtitle {
    font-size: 20px;
    margin: 20px 0 10px;
    color: #333;
}
.welcome-text {
    font-size: 18px;
    color: white;
    margin: 10px 0;
}
.image-text {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
}
.text-side {
    position: absolute;
    top: 50%;
    left: 310px; 
    font-size: 18px;
    color: #333;
    transform: translateY(-50%);
}
